<nav>

    <div class= "site-title">
      <a href="/"><h1>DL Creation</h1></a>
      <p>DL Creation Site</p>
    </div>
    <ul>
      <li><a href="/">BLogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>