<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>
   
  <%- include('./partials/nav.ejs') %>

       <h1>Oooops! Error 404</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla aliquid aliquam nesciunt praesentium quidem alias sequi quas temporibus quo libero.</p>

      <div class= "not-found content">
        
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>