<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

      <div class= "about content">
        <h2>About Us</h2>
      </div>

      
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus culpa fugiat neque voluptas, reiciendis nesciunt consequatur fugit, consectetur exercitationem mollitia molestiae? Ipsum, aut unde cupiditate provident voluptas eligendi. Minus, at?</p>


      
      <%- include('./partials/footer.ejs') %>
</body>
</html>